<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
      </div>
      <div class="modal-body">
        <form action="/hotel/reserve" method="POST">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nome do cliente:</label>
            <input
              name="name"
              type="text"
              class="form-control"
              id="recipient-name"
              placeholder="Nome"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">CPF:</label>
            <input
              name="cpf"
              type="number"
              class="form-control"
              id="recipient-name"
              placeholder="000.000.000-00"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Número de
              telefone:</label>
            <input
              name="numberPhone"
              type="number"
              class="form-control"
              id="recipient-name"
              placeholder="(00) 00 0-0000-0000"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Número do quarto:</label>
            <input
              name="number"
              type="number"
              class="form-control"
              id="recipient-name"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Checkin:</label>
            <input
              name="checkin"
              type="date"
              class="form-control"
              id="recipient-name"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Checkout:</label>
            <input
              name="checkout"
              type="date"
              class="form-control"
              id="recipient-name"
            />
          </div>
          <div class="mb-3 d-flex">
            <label for="recipient-name" class="col-form-label">Total em Dias:</label>
            <p>0</p>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Preço total:</label>
            <input
              name="totalPrice"
              type="number"
              class="form-control"
              id="recipient-name"
            />
          </div>
          <div class="mb-3">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >Cancelar</button>
            <button type="button" class="btn btn-primary">Reservar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>