<div class="main_login">

  <div class="lado_esquerdo_login">
    <div class="image">
      <img src="./images/Logo (1).png" alt="" />
    </div>
  </div>

  <div class="lado_direito_login">
    <div class="caixa_formulario">
      <h1>Login</h1>
      <form class="form_login" action="/user/login" method="POST">
        <div class="email_senha">
          <input name="email" class="email" type="email" placeholder="Email" />
          <input
            name="password"
            class="password"
            type="password"
            placeholder="Senha"
          />
        </div>
        <p>Não possui uma conta?
          <a href="./register">Registre-se</a></p>
        <input class="entrar_login" type="submit" value="Entrar" />
      </form>
    </div>
  </div>
</div>