<body>
  <div class="main">
    <div class="lado_esquerdo">
      <div class="title">
        <p>Zen<span>Hosty</span></p>
      </div>
      <div class="caixa_esquerda">
        <div class="check_roon">
          <a class="check_a" href="./checkOut.handlebars">
            <div class="checkouts">
              <img src="../public/images/checkout.png" alt="" />
              <p>Checkouts</p>
            </div>
          </a>
          <div class="MapRoon">
            <img src="../public/images/map.png" alt="" />
            <p>Mapa Quartos</p>
          </div>
        </div>
        <div class="perfil">
          <img src="../public/images/Layer_1.png" alt="" />
          <p>{{userFindid.username}}</p>
          <form action="/user/singout" method="POST">
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
    <div class="lado_direito">
      <div class="caixa_quartos">
        <div id="caixa_quartos">
          {{#each rooms}}
            <div class="quarto">
              <p>Número: {{this.dataValues.number}}</p>
              <p>Andar: {{this.dataValues.floor}}°</p>
              <p class="estado">Estado: <span>Desocupado</span></p>
            </div>
          {{/each}}
          <div class="botao_add" id="modal_open">
            <button>+</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <section class="modal_bg" id="modal_bg" style="display: none;">
    <section class="modal_container">
      <h2>Adicionar novo quarto</h2>
      <form class="form" action="/hotel/rooms" method="POST">
        <p>Número:</p>
        <input name="number" class="formulario" type="text" />
        <p>Andar do Quarto:</p>
        <input name="floor" class="formulario" type="number" />
        <p>Preço:</p>
        <input name="price" class="formulario" type="number" />
        <div class="butoes">
          <button type="button" class="cancelar" id="cancelar">Cancelar</button>
          <input class="criar" type="submit" value="Criar" />
        </div>
      </form>
    </section>
  </section>
</body>