<head>
  <link rel="stylesheet" href="../../../css/pageRoom.css" />
</head>
<header>
  <a id="back" href="/">&lt;</a>
  <a href="/"><img src="../../../images/logo2.png" alt="" /></a>
  <a id="back" href="/"></a>
</header>
<main>
  <h1>Registre sua reserva</h1>
  {{#with roomFindid}}
    <input type="hidden" value="{{dataValues.price}}" id="price" />
    <form action="/hotel/reserve/{{dataValues.id}}" method="POST">
      <div>
        <label for="name">Nome do cliente:</label>
        <input type="text" name="name" placeholder="nome" />
      </div>
      <div>
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" placeholder="000.000.000-00" />
      </div>
      <div>
        <label for="checkin">Checkin:</label>
        <input
          type="date"
          name="checkin"
          id="checkin"
          onchange="calculator()"
        />
      </div>
      <div>
        <label for="numberPhone">Número do telefone:</label>
        <input
          type="text"
          name="numberPhone"
          placeholder="(00) 00 0-0000-0000"
        />
      </div>
      <div>
        <label for="checkout">Checkout:</label>
        <input
          type="date"
          name="checkout"
          id="checkout"
          onchange="calculator()"
        />
      </div>
      <div>
        <label for="totalPrice">Preço total:</label>
        <input type="number" name="totalPrice" id="totalPrice" />
      </div>
      <div id="div_diasTotal">
        <p>Dias total: <strong id="totalDays">0</strong></p>
      </div>
      <div>
        <input type="submit" id="submit" value="Reservar" />
      </div>
    </form>
  {{/with}}
</main>