<body>
  <div class="main">

    <div class="lado_esquerdo_register">
      <div class="image">
        <img src="/images/Logo (1).png" alt="" />
      </div>
    </div>

    <div class="lado_direito_register">
      <div class="caixa_formulario">
        <h1>Register</h1>
        <form class="form_register" action="/user/register" method="POST">
          <div class="email_senha">
            <input
              name="username"
              class="nome"
              type="text"
              placeholder="Nome"
            />
            <input
              name="email"
              class="email"
              type="email"
              placeholder="Email"
            />
            <input
              name="password"
              class="password"
              type="password"
              placeholder="Senha"
            />
          </div>
          <p>Já possui uma conta? <a href="/">Entrar</a></p>
          <input class="entrar_register" type="submit" value="Cadastrar" />
        </form>
      </div>
    </div>
  </div>
</body>