* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: Poppins;
}
.main_checkout {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("../images/Background.png");
  align-items: center;
}
.lado_esquerdo_checkout {
  width: 16%;
  height: 100%;
  background-color: #fff;
}

.caixa_esquerda {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  font-family: Poppins;
  height: 10%;
}

.title img {
  height: 80px;
}

.checkouts_checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #19a3a6;
  font-size: 22px;
  border-radius: 5px;
  width: 200px;
  font-weight: 500;
  color: #ffffff;
  font-family: Poppins;
  gap: 12px;
}
.mapRoon_a {
  text-decoration: none;
}
.MapRoon_checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: #484848;
  font-family: Poppins;
  margin-left: 10px;
  gap: 12px;
  background-color: white;
}

.check_roon {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.perfil {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  justify-self: flex-end;
  height: 70px;
}
.lado_direito_checkout {
  display: flex;
  justify-content: center;
  width: 84%;
  margin: auto;
  max-width: 1100px;
}
.caixa_check {
  border-radius: 10px;
  background-color: #fff;
  width: 95%;
  padding: 15px;
  box-shadow: 3px 2px 4px 3px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}
#hr {
  width: 99.9%;
  height: 1px;
  border: 0;
  border-top: 0.5px solid rgb(233, 233, 233);
}
.caracteristicas_check {
  display: flex;
  align-items: center;
  height: 7%;
  justify-content: space-around;
  gap: 20px;
  font-size: 15px;
}
.caracteristicas_check span {
  color: #19a3a6;
}
.informacoes_check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  gap: 20px;
}
.informacoes_check p {
  text-align: center;
  width: 12%;
}
.informacoes_check span {
  color: #19a3a6;
}

#singout {
  background-image: url("../images/Layer\ 2.png");
  background-position: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fff;
}
